body {
    background-color: #f8f9fa;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.progress {
  height: 25px;
  border-radius: 12px;
}

.progress-bar {
  font-weight: 600;
  font-size: 1rem;
  line-height: 25px;
  border-radius: 12px;
}
